.container {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  width: calc(100% - 2rem);
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  color: #000;
  transition: border-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: #635bff;
}

.input::placeholder {
  color: #999;
}

.paymentElement {
  width: 100%;
}

.error {
  color: var(--clr-error);
  font-size: var(--text-sm);
  text-align: center;
  margin-top: 0.5rem;
}

